body{
    display: flex;
    flex-flow: column nowrap;
    /*align-content: center;*/
    /*width: 30%;*/

}
.pagina1{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    /*margin-top: 5%;*/
}
img{
    width: 20%;
}
.boton1{
    background-color: rgb(27, 27, 136);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 25%;
    text-align: center;
}
.boton1 > a{
    color: white;
    font-size: 32px;
}
.boton1 > a:hover{
    color: red;
}


.pagina2{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.pagina2_1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.botones1{
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.botones1_1{
    background-color: rgb(27, 27, 136);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 20%;
    text-align: center;
}
.botones1_1 > a{
    color: white;
    font-size: 12px;
}
.botones1_1 > a:hover{
    color: red;
}
.pagina3{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.pagina4{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.pagina4_1{
    display: flex;
    flex-flow: row wrap;
}
.pagina5{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}
.pagina5_1{
    display: flex;
    flex-flow: column wrap;
}
.pagina5_2 , .pagina5_3{
    display: flex;
    flex-flow: row wrap;
}